<h1>Ships</h1>
<hr />

<button mat-raised-button class="nav-btn" routerLink="/ships/search">Search</button>

<div>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let ship;">{{ship.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="model">
                <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
                <mat-cell *matCellDef="let ship;">{{ship.model}}</mat-cell>
        </ng-container>
    </mat-table>
</div>