<h1>Films</h1>
<hr />

<button mat-raised-button class="nav-btn" routerLink="/films/search">Search</button>

<div>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let film;">{{film.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="director">
                <mat-header-cell *matHeaderCellDef>Director</mat-header-cell>
                <mat-cell *matCellDef="let film;">{{film.director}}</mat-cell>
        </ng-container>

    </mat-table>
</div>