<h1>Ship Search</h1>
<hr />

<div [formGroup]="searchForm">
    <input matInput placeholder="Search" formControlName="search" type="text" />
    <button mat-raised-button class="nav-btn" type="submit" (click)="onSubmit()">Search</button>
</div>

<div>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let ship;">{{ship.name}}</mat-cell>
        </ng-container>
    </mat-table>
</div>